/* menu */
/* 1 */
.menu{
    width: 100%;
    top: 0;
    position: fixed;
    /* background-color: blue; */
}
.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}
.menu li{
    float: left;
}
.menu .login{
    float: right;
}
.menu li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 24px 16px;
    font-size: 25px;
    text-align: center;
}

li a:hover:not(.active){
    background-color: black;
}
.active{
    background-color: rgb(30, 241, 7);
}

/* 2 */
body{
    margin: 0;
}

.content{
    margin-top: 100px;
}
.title{
    margin: 10px;
}
.title button{
    background-color: rgb(124, 124, 240);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}
.title button:hover{
    background-color: blue;
    color: white;
}

/* 3 */
.header{
    background-color: rgb(106, 102, 102);
    width: 100%;
    height: 600px;
}
.header img{
    margin-left: 10%;
    width: 80%;
    height: 100%;
}

/* 4 */
nav{
    float: left;
    width: 30%;
    height: 370px;
    background-color: rgb(216, 216, 215);
    padding: 20px;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
article{
    float: left;
    padding: 20px;
    width: 70%;
    background-color: rgb(254, 252, 250);
    height: 370px;
}

section{
    display: flex;
}

section::after{
    content: "";
    display: table;
    clear: both;
}

/* 5 */
footer{
    background-color: rgb(139, 138, 138);
    padding-top: 10px;
    padding-bottom: 80px;
    text-align: center;
    color: white;
}
.social img{
    width: 50px;
    height: 50px;
}

*{
    box-sizing: border-box;
}
/* Responsive layout - make the two colums/boxes stack on top of each other
    instead of next to each other, on small screens
*/
@media(max-width: 600px){
    section{
        display: block;
        height: auto;
        width: 100%;
    }
    nav{
        width: 100%;
        height: auto;
        background-color: rgb(163, 163, 163);
        padding: 20px;
    }
    article{
        padding: 20px;
        width: 100%;
        background-color: rgb(254, 252, 250);
        height: auto;
    }
    .menu li a{
        display: block;
        color: white;
        text-decoration: none;
        padding: 15px 15px;
        font-size: 15px;
        text-align: center;
    }
    p{
        font-size: 30px;
    }
    h1{
        font-size: 40px;
    }
}

@media(max-width: 320px){
    .menu li a{
        display: block;
        color: white;
        text-decoration: none;
        padding: 10px 10px;
        font-size: 10px;
        text-align: center;
    }
    p{
        font-size: 15px;
    }
    h1{
        font-size: 20px;
    }
}

